<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .header {
            display: flex;
            flex-direction: row;
        }

        .logoContainer {
            width: 10%;
        }

        #logo {
            width: 100%;
        }

        .navBar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 20px;
            width: 100%;
        }

        .page {
            display: flex;
            grid-template-columns: 450px 1fr;
        }

        .form {
            display: grid;
            /* align-items: center; */
            /* margin: auto; */
        }

        .video {
            display: grid;
            width: 100%;
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 20px;
            width: 100%;
        }

        .video iframe{
            margin: auto;
        }

        @media screen and (min-width: 300px) and (max-width: 575px) {
            .navBar {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 20px;
                width: 100%;
            }

            .logoContainer {
                width: 5%;
            }

            .page {
                flex-direction: column;
            }

            .video {
                margin-left: 0px;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
    <div class="header">
        <div class="logoContainer">
            <img id="logo"
                src="https://static.dezeen.com/uploads/2014/07/Airbnb-rebrand-by-DesignStudio_dezeen_468_8.jpg">
        </div>

        <div class="navBar">
            <a href='/'>Home</a>
            <a href='/listings'>Listings</a>
            <a href='/registration'>Sign Up</a>
            <a href='/login'>Login</a>
        </div>
    </div>
</head>

<body>
    <div class="page">
        <div class="form">
            <form action="/search" method="POST">

                Where<br>
                <select id="city" name="city" placeholder="Anywhere">
                    <option value="Toronto">Toronto</option>
                    <option value="Montreal">Montreal</option>
                    <option value="Ottawa">Ottawa</option>
                    <option value="Vancouver">Vancouver</option>
                </select><br>

                Check-In<br>
                <input type="text" id="check-in" name="check-in" placeholder="Thurs, 19th Sep"><br>

                Checkout<br>
                <input type="text" id="check-out" name="check-out" placeholder="Sat, 21st Sep"><br>

                Guests<br>
                <input type="select" id="guest" name="guest" placeholder="1 Guest"><br>

                <input type="submit" value="Search">

            </form>
        </div>

        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8WGI8EwKkiA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="footer">
        <footer>
            <a href="/registration">Sign Up</a>
            <a href="/login">Login</a>
            <a href="/listings">See Listings</a>
        </footer>
    </div>


</body>

</html>