<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        .container {
            margin: 10 10 10 10;
            width: auto;
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }

        .listing {
            margin: 10 10 10 10;
            width: auto;
            margin: auto;
        }

        .image {
            width: auto;
            margin: auto;
        }

        img {
            margin: 0px 0px 20px 0px;
            width: 300px;
            height: auto;
        }

        .desc {
            width: auto;
            margin: auto;
        }

        #logo {
            width: 100px;
        }

        .header {
            display: flex;
            flex-direction: row;
        }

        .navBar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 20px;
            width: 100%;
        }

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 20px;
            width: 100%;
        }

    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>

    <div class="header">
        <div>
            <img id="logo"
                src="https://static.dezeen.com/uploads/2014/07/Airbnb-rebrand-by-DesignStudio_dezeen_468_8.jpg">
        </div>
        <div class="navBar">
            <a href='/'>Home</a>
            <a href='/listings'>Listings</a>
            <a href='/registration'>Sign Up</a>
            <a href='/login'>Login</a>
        </div>
    </div>

</head>

<body>

    <div class="container">        
            {{{rooms}}}
    </div>

    <div class="footer">
        <footer>
            <a href='/'>Home</a>
            <a href="/registration">Sign Up</a>
            <a href="/login">Login</a>
            <a href="/listings">See Listings</a>
        </footer>
    </div>

</body>

</html>